- @site     = data.chrome.site
- @twitter  = data.chrome.twitter
= wrap_layout :shell do
  = partial "partials/headerbar.haml"
  %main{:role=>"main"}
    = yield
  = partial "partials/footerbar.haml"


