---
title: Tango East
pageclass: home

---
-# stylesheet_link_tag "old/site"
.welcome
  .logo
    = image_tag "middleman-logo.svg"
  %h1
    %i tango mundial

  %ul
  - data.mundial.annals.each do |i|

    %li
      = link_to "Year #{i.year}", "/year/#{i.year}/"


