---
title: Tango East
pageclass: home

---
-# stylesheet_link_tag "old/site"
.welcome
  .logo
    = image_tag "middleman-logo.svg"
  %h1
    %i tango east
  %h3
    %p tango development company
  %p.doc
    = link_to "Contact Us", "mailto:kaceong@gmail.com", target: "_blank"



