---
title: News
pageclass: news

pageable: true
per_page: 12
---
.container
  %main.main(role="main")

  %ul
  - data.mundial.annals.each do |i|

    %li
      = link_to "Year #{i.year}", "/year/#{i.year}/"
